/* -- Navbar
------------------------------*/
:root {
  --main-height: 100vh;
  --main-width: 100vw;
  --no-decoration: none;
  --transition-height: 15vh;
}

// Hover Grow
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

// Banner
#wrapper1 {
  height: var(--main-height);
  width: var(--main-width);
  background: url(/public/images/section1-4.jpg) center / cover;
  font-family: 'Playfair Display', serif;

}

#wrapper1 .container-fluid {
  text-align: center;
  padding-top: 5vh;
  // Thanks To Curedatpearl.com for gradient design
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  height: 100vh;
  @media only screen and (min-width : 768px) {
    width: 30em;
    padding-top: 10vh;
    text-align: center;
    float: right;
    padding-right: 1vw; }
  .banner-header {
    padding: 0 0 2em 0;
    .no-decoration {
      text-decoration: var(--no-decoration); }
    li:first-child {
      font-size: 4em;
      @media only screen and (min-width : 768px) {
        font-size: 4em; } }
    li:nth-child(2) {
      font-size: 1em; } }
  .banner-content {
    display: none;
    padding: 2em 0 2em 0;
    @media only screen and (min-width : 768px) {
      display: block;
      .no-decoration {
        text-decoration: var(--no-decoration); }
      li {
        font-size: 2em;
        padding-top: .7em; } } }
  .maps-address {
    .no-decoration {
      text-decoration: var(--no-decoration); }
    @media only screen and (min-width : 768px) {
      padding-top: 3em; } }
  li a {
    color: white;
    line-height: 2em; }
  .nav-svg {
    padding-top: 60vh;
    height: 1em;
    width: 10em;
    color: white;
    @media only screen and (min-width : 768px) {
      padding-top: 0; } } }

// About
#about {
  background-color: #ffffff;
  #awards {
    height: var(--transition-height);
    .mustacheAward {
      height: var(--transition-height);
      background-color: blue;
      text-align: center;
    }
  }
}